***REMOVED***% extends 'posts/layout.html' %***REMOVED***

***REMOVED***% block content %***REMOVED***
<h3 class="center-align red lighten-3">***REMOVED******REMOVED*** post.title ***REMOVED******REMOVED***</h3>
<div class="card-content">
  <div class="card-content">
    ***REMOVED******REMOVED*** post.body ***REMOVED******REMOVED***
  </div>
  <div class="card-action">
    ***REMOVED******REMOVED*** post.created_at ***REMOVED******REMOVED***
  </div>
</div>
<a href="/posts" class="btn">Posts</a>
***REMOVED***% endblock %***REMOVED***